body {
    font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background: #7f98c3;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

p {
    font-size: 85%;
}


#wrapper {
    width: 700px;
    margin: 0 auto 25px auto;
    padding-bottom: 10px;
    background-image: url(../images/page_bottom.jpg);
    background-repeat: no repeat;
    background-position: center bottom;
    position: relative;
}

#container {

    padding: 0 9px;
    text-align: left;
    background-image: url(../images/body_back.jpg);
    background-repeat: repeat-y;
}

#header {
    background: #fff;
    padding: 40px 0 20px 150px;
}

a img {
    border: none;
}

#sidebar1 {
    float: right;
    width: 186px;
    padding: 15px 20px;
    background-image: url(../images/corner_tl.gif);
    background-repeat: no-repeat;
}

#sidebar1 h3 {
    color: #4CAF50;
}

#mainContent {
    margin: 0;
    padding: 0 20px;
    width: 415px;
    float: left;
}

.pod {
    float: left;
    padding: 10px 5 px 0 15px;
    border: solid 1px #628958;
}

#footer {
    padding: 70px 0 30px 20;
    background: #fff;
    background-image: url(../images/corner_tl.gif);
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}

#footer p {
    margin: 0;
    padding: 10px 0;
}

#footer .overhang {
    background-image: url(../images/sm_flower.png);
    background-repeat: no-repeat;
    width: 84px;
    height: 100px;
    top: 10px;
    left: 610px;
}

.fltrt {
    /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
}

.fltlft {
    /* this class can be used to float an element left in your page */
    float: left;
    margin-right: 8px;
}

.clearfloat {
    /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

.overhang {
    position: absolute;
    top: 0;
    left: -65px;
}

#mainContent h1 {
    font-size: 180%;
    color: #4caf50;
    text-align: right;

}

#mainContent h2 {
    font-size: 150%;
    margin-top: 35px;
    color: #4CAF50;
    text-align: right;
}

#mainContent p:first-of-type::first-letter {
    color: #628958;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    line-height: 50px;
    padding: 4px 8px 0 0;
}

h1,
h2,
h3,
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    color: #628958;
    letter-spacing: -0.04em;
}

#sidebar1 a {
    font-weight: bold;
}

a:link {
    color: #628958;
}

a:visited {
    color: #666;
}

a:hover,
a:active,
a:focus {
    color: #ce5441;
    text-decoration: none;
}