* {
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.demo {
  color: #0000FF;
}

a {
  color: #0000FF;
}
a:hover, a:focus {
  color: #007FFF;
}
a:visited, a:active {
  color: #7FFF00;
}

.main .content {
  width: 70%;
}
.content .main {
  width: 100%;
}
.level3 .content .main {
  width: 30%;
}

.main.content {
  color: #FFFF00;
}

.div3, .div2, .div1, .info-box, .success-box, .warning-box {
  padding: 2em;
  color: #000;
  background-color: #FFF;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.warning-box {
  border: 4px dotted #FF0000;
}

.success-box {
  border: 4px dotted #7FFF00;
}

.info-box {
  border: 4px dotted #0000FF;
}

.div3, .div2, .div1, .warning-box, .success-box, .info-box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 5px;
}

.div1 {
  background-color: #7FFF00;
}

.div2 {
  background-color: rgb(165.4, 255, 76.5);
}

.div3 {
  background-color: rgb(63.5, 127.5, 0);
}