/* BASE */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-dark;
}

@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textStyles($textTransform: uppercase) {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: $textTransform;
}

@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

%fullSpace {
    width: 100%;
    height: 100%;
}