/* LAYOUT */

/* NAV */



.navbar {
    &-navigation {
        display: flex;
        position: relative;
        z-index: 25;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;
            transition: left 0.7s ease-in-out;

            .left-img {
                width: 300px;
                position: absolute;
                border-radius: 15px;
                box-shadow: 0 15px 40px rgba($color-black, 0.5);

                &-1 {
                    top: 15%;
                    left: 15%;
                }

                &-2 {
                    top: 35%;
                    left: 25%;
                }

                &-3 {
                    top: 55%;
                    left: 35%;
                }

            }
        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: darken($color-dark, 5%);
            position: fixed;
            right: -50vw;
            @include flexLayout;
            transition: right 0.7s ease-in-out;
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-Marck;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                text-align: center;
                margin: 20px;
                transition: all 0.7s;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 5px;
                }
            }
        }
    }

}

/* HEADER */
.header {
    color: $color-white;
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.3)), url(../images/bg.jpg) no-repeat center;
    background-size: cover;

    .brand {
        @include centering(15%);
        display: flex;
        align-items: center;
    }

    &-banner {
        @include centering(50%);
    }
}

/* LAYOUT */

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    &-left {
        width: 40%;
        position: relative;


        img {
            width: 100%;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        .stars {
            margin: 30px 0;
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;
        }

        .description {
            font-family: $font-Roboto;
            font-size: 20px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;


            &::first-letter {
                padding-left: 20px;
                font-size: 28px;
            }
        }
    }
}

/* GALLERY */

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

/* FOOTER */

.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-primary;
            transition: color 0.5s;


            &:hover {
                color: $color-secondary;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-Roboto;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles(capitalize);
    }
}