/* Variables */

$color-dark: #303030;
$color-white: #fff;
$color-black: #000;
$color-primary: #d8ae53;
$color-secondary: #ccc;


$font-Marck: "Marck Script", cursive;
$font-Roboto: Roboto, sans-serif;
$font-Raleway: Raleway, sans-serif;